modLoader = "javafml"
loaderVersion = "${forge_loader_version_range}"
license = "${license}"


[[mods]]
modId = "${mod_id}"
version = "${version}"
displayName = "${mod_name}"
displayURL= "https://www.curseforge.com/minecraft/mc-mods/enchanted-witchcraft"
logoFile = "${mod_id}.png"
credits = "Heavily inspired by Emoniph's Witchery mod"
authors = "${mod_author}"
description = '''${description}'''

[[dependencies.${mod_id}]]
    modId = "forge"
    mandatory = true
    versionRange = "${forge_version_range}"
    ordering = "NONE"
    side = "BOTH"

[[dependencies.${mod_id}]]
    modId = "minecraft"
    mandatory = true
    versionRange = "${minecraft_version_range}"
    ordering = "NONE"
    side = "BOTH"
